@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif !important;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}







.app-bar{
  background-color: #015989 !important;
  height: 10% !important;
}

.call-to-action{
  width: 100%;
  background-image: url(../resourses/aaa.JPG);
  background-position: center;
  height: 30%;
}

.css-1mclfdm-MuiContainer-root{
  height: 10% !important;
}


.mySwiper{
width: 100vw;
height: 40% !important;
padding: 20px !important;
}


.footer{
width: 100vw;
height: 150px;
background-color: #015989;  
}