#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;

}

.autoplay-progress {

    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #151C2E;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #151C2E;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.oneOne {
    width: 300px;
    height: 250px;
    background-image: url(../resourses/1.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.oneTwo {
    width: 300px;
    height: 250px;
    background-image: url(../resourses/2.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.oneThree {
    width: 300px;
    height: 250px;
    background-image: url(../resourses/3.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.oneFour {
    width: 300px;
    height: 250px;
    background-image: url(../resourses/4.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.twoOne{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/5.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.twoTwo{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/6.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.twoThree {
    width: 300px;
    height: 250px;
    background-image: url(../resourses/7.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.twoFour{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/8.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.threeOne{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/9.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.threeTwo{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/10.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.threeThree{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/11.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.threeFour{
    width: 300px;
    height: 250px;
    background-image: url(../resourses/12.svg);
    background-size: cover;
    background-position: center;
    margin: 5px;
}